# Python
__pycache__/
*.so
# Virtual envs
venv*/
.venv/
# macOS
.DS_Store
# Logs
logs/
# Byte-compiled / packaging
build/
dist/
*.egg-info/
# Qt/resources build artifacts
*.qrc
# Ignore specific large dataset/model folders
models/captcha_images_v2/
models/captcha_train/
models/sensebike/
models/
# IDE
.vscode/
*.pyc
